@(product_list: List[models.Product], pagenum: Integer)
<!DOCTYPE html>

<html>
    <head>
        <title>Lion Mart</title>
    </head>
    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/style.css")' />
    <h1 class="centerBoldText">Welcome to LionMart</h1>
    <strong>FURNITURE | TICKETS | BOOKS | ELECTRONICS</strong>
    <span style="font-size: 20px; float: right;"><a href="/user"><strong>Profile</strong></a></span>
    <br><br>
    <form method="GET" action="@routes.Application.postItem()">
        <button style="float:right;clear:both">Post Item</button>
    </form>
    <div style="border: 1px solid black">
        <table align="center" style="width:40%">
            <tbody>
                @if(!product_list.isEmpty){
                @for(product <- product_list){
                <div>
                <tr>
                    <td class="image" rowspan="5">
                        <a href="/viewItem">
                            @*to-do: use the actual image here*@
                            <img src='@routes.Assets.at("images/chair.jpg")' alt="chair">
                            </a>
                    </td>
                    <td style="font-weight:bold;font-size:20px">@product.getDescription()</td>
                </tr>
                <tr>
                    <td><b>Pick up from: </b> @product.getLocation()</td>
                </tr>
                <tr>
                    <td><b>Used for: </b> @product.mapMonthsToString()</td>
                </tr>
                    <tr>
                        <td><b>Condition rating: </b> @product.getCondition()</td>
                    </tr>
                    <tr>
                    <td><b>Price: </b>@product.getPrice()</td>
                </tr>
                </div>
                <tr>
                    <td>
                        <form method="POST" action="@routes.Application.contactSeller()">
                            <button>Contact Seller</button>
                        </form>
                    </td>
                </tr>
                }
                }
            </tbody>
        </table>
    </div>

    <div style="text-align:center">
        @if(pagenum != 0) {
            <form method="GET" id="change-url-form2" name="change-url-form2" action="@routes.Application.displayProducts(1000)">
                <input type='submit' style="width:200px" value='<-Previous' onclick="changeURL(-1)" />
            </form>
        }
        <form method="GET" id="change-url-form" name="change-url-form" action="@routes.Application.displayProducts(1000)">
            <input type='submit' style="width:200px" value='Next->' onclick="changeURL(1)" />
        </form>
    </div>

    <script>
            function changeURL(change) {
                var currentURL = window.location.href;
                var parts = currentURL.split('/');
                var newURL= "";
                for(var iter=0;iter<parts.length-1;iter++){
                    newURL += parts[iter];
                    newURL += '/';
                }
                var currentIndex = parts[parts.length - 1];
                currentIndex.split('?');
                newURL += (parseInt(currentIndex) + change).toString();
                if(change==1) {
                    document['change-url-form'].action = newURL;
                }
                else{
                    document['change-url-form2'].action = newURL;
                }
            }
    </script>


    <footer class="centerBoldText" style="font-size:20px">
        <p>LionMart</p>
    </footer>
</html>