@(product_list: List[models.Product])
<!DOCTYPE html>

<html>
    <head>
        <title>Lion Mart</title>
    </head>
    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/style.css")' />
    <h1 class="centerBoldText">Welcome to LionMart</h1>
    <a href="/user"><h2 style="text-align: right">Username</h2></a>
    <form method="GET" action="@routes.Application.postItem()">
        <button style="float:right;clear:both">Post Item</button>
    </form>
    <div style="border: 1px solid black">
        <table align="center" style="width:40%">
            <tbody>
                @for(product <- product_list){
                <div>
                <tr>
                    <td class="image" rowspan="5">
                        <a href="/viewItem">
                            @*to-do: use the actual image here*@
                            <img src='@routes.Assets.at("images/chair.jpg")' alt="chair">
                            </a>
                    </td>
                    <td style="font-weight:bold;font-size:20px">@product.getDescription()</td>
                </tr>
                <tr>
                    <td><b>Pick up from: </b> @product.getLocation()</td>
                </tr>
                <tr>
                    <td><b>Used for: </b> @product.mapMonthsToString()</td>
                </tr>
                    <tr>
                        <td><b>Condition rating: </b> @product.getCondition()</td>
                    </tr>
                    <tr>
                    <td><b>Price: </b>@product.getPrice()</td>
                </tr>
                </div>
                <tr>
                    <td>
                        <form method="POST" action="@routes.Application.contactSeller()">
                            <button>Contact Seller</button>
                        </form>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <footer class="centerBoldText" style="font-size:20px">
        <p>LionMart</p>
    </footer>
</html>