@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Lion Mart</title>
    </head>
    <body>
        <script>
                var FB;
                window.fbAsyncInit = function() {
                    FB.init({
                        appId      : '153128161818624',
                        xfbml      : true,
                        version    : 'v2.6'
                    });
                    FB.getLoginStatus(function(response) {
                        if (response.status === 'connected') {
                            window.location.replace(window.location.href+"login");
                            var uid = response.authResponse.userID;
                            var accessToken = response.authResponse.accessToken;
                        } else if (response.status === 'not_authorized') {
                            // the user is logged in to Facebook,
                            // but has not authenticated your app
                        } else {
                            // the user isn't logged in to Facebook.
                        }
                    });
                };

                (function(d, s, id){
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {return;}
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));


        </script>


        <div id="fb-root"></div>
        <h1>Facebook Login Page</h1>

        <div class="fb-login-button" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false"></div>


    </body>
</html>