@()
<!DOCTYPE html>

<html>
    <head>
        <title>Lion Mart</title>
    </head>
    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/style.css")' />
    <h1 class="centerBoldText">Welcome to LionMart</h1>
    <body>
        <script>
                var FB;
                window.fbAsyncInit = function() {
                    FB.init({
                        appId      : '153128161818624',
                        xfbml      : true,
                        version    : 'v2.6'
                    });



                    FB.getLoginStatus(function(response) {
                        if (response.status === 'connected') {
                            var uid = response.authResponse.userID;
                            var accessToken = response.authResponse.accessToken;
                            console.log(uid);
                            getUserData();

                        } else if (response.status === 'not_authorized') {
                            // the user is logged in to Facebook,
                            // but has not authenticated your app
                        } else {
                            // the user isn't logged in to Facebook.
                        }
                    });

                    function getUserData(){
                        FB.api('/me', {fields: 'name,email'},function (response) {
                            var fbID = response.id;
                            var fbName = response.name;
                            var fbEmail = response.email;
                            window.location.replace(window.location.href+"addUser?fbID="+fbID+"&fbName="+fbName+"&fbEmail="+fbEmail);
                        });
                    }
                };

                (function(d, s, id){
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {return;}
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));


        </script>


        <div id="fb-root"></div>

        <div class="fb-login-button" data-size="xlarge" scope="public_profile,email" data-show-faces="false" data-auto-logout-link="false"></div>

    </body>
</html>