@(product: models.Product)
<!DOCTYPE html>

<html>
    <head>
        <title>Lion Mart</title>
    </head>
    <h1 style="text-align:center">Mark Item Sold</h1>
    <form method="POST" action="@routes.Application.processSoldItem(product.getId())" style="text-align: center">
        <div style="text-align:center">
        Enter price sold at: <input min="0" max="999999" type="number" id = "price_sold" name="price_sold">
        </div>
        <br>
        <input style="width:200px" type="submit" value="Mark Sold">
    </form>
</html>