@import controllers.routes
@import controllers.routes
@import controllers.routes._
@import controllers.routes
@import controllers.routes
@import controllers.routes
@import controllers.routes
@(predictedPrice: Integer)

<!DOCTYPE html>

<html>
    <head>
        <title>Lion Mart</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
    <body>
        <script>
                var FB;
                window.fbAsyncInit = function() {
                    FB.init({
                        appId      : '153128161818624',
                        xfbml      : true,
                        version    : 'v2.6'
                    });
                    FB.Event.subscribe('auth.login', function()
                    {
                        window.location.reload();
                    });
                    FB.getLoginStatus(function(response) {
                        if (response.status === 'connected') {
                            $("#logoutButton").show();
                        } else if (response.status === 'not_authorized') {
                            console.log("not authorized");
                            gotoHome();
                        } else {
                            console.log("not logged in");
                            gotoHome();
                        }
                    });
                    function getUserData(){

                        FB.api('/me', {fields: 'name,email'},function (response) {
                            var fbID = response.id;
                            var fbName = response.name;
                            var fbEmail = response.email;
                            var baseURL = window.location.href.slice(0,-1);
                            console.log(baseURL);
                            console.log(baseURL+"addUser?fbID="+fbID+"&fbName="+fbName+"&fbEmail="+fbEmail);
                            window.location.replace(baseURL+"addUser?fbID="+fbID+"&fbName="+fbName+"&fbEmail="+fbEmail);
                        });
                    }


                };
                function gotoHome(){
                    var currentURL = window.location.href;
                    var parts = currentURL.split('/');
                    baseURL = parts[0] + "/";
                    window.location.replace(baseURL);
                }
                function logoutUser(){
                    FB.logout(function (response) {
                        gotoHome();
                    });
                }
                
                (function(d, s, id){
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {return;}
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
        </script>

        <input  id="logoutButton" type="button" value="Logout" class="btn btn-default" style="display: none; float:right;" onclick="logoutUser();">
        <button class="btn btn-info" onclick="gotoHome()">Go back to Home</button>
        <h1 style="text-align:center">Post Item</h1>
    <form method="POST" action="@routes.Application.processItemForm()" style="text-align: center" enctype="multipart/form-data">
        <table align="center" style="width:40%">
            <tbody>
                <tr>
                    <td colspan="2"><input type="file" name="item_picture" accept="image/*" required></td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td><textarea name="item_description" style="width:100%" rows="4" maxlength="3000" required></textarea></td>
                </tr>
                <tr>
                    <td>Condition (5=Excellent):</td>
                    <td>
                        <select id="item_condition" name="item_condition" style="width:100%">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Months used:</td>
                    <td>
                        <select id="item_months" name="item_months" style="width:100%">
                            <option value="1">Less than 3 months old</option>
                            <option value="2">3-6 months old</option>
                            <option value="3">6 months - 3 years</option>
                            <option value="4"> >3 years</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Original Price:</td>
                    <td><input id="originalPrice" step="0.01" type="number" min="0" max="999999" name="original_price" style="width:20%;float:left" required>
                        <div style="float:left">$</div></td>
                </tr>
                <tr>
                    <td>Category:</td>
                    <td>
                        <select id = "item_category" name="item_category" style="width:100%">
                            <option value="1">Furniture</option>
                            <option value="2">Tickets</option>
                            <option value="3">Books</option>
                            <option value="4">Electronics</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td><input id="price" type="number" step="0.01" min="0" max="999999" name="price" style="width:20%;float:left" required>
                        <div style="float:left">$</div></td>
                </tr>

                <tr>
                    <td>Online Link (optional) :</td>
                    <td><input type="url" maxlength="255" name="item_link" style="width:100%"></td>
                </tr>
                <tr>
                    <td>Payment Method (optional) :</td>
                    <td><input maxlength="255" name="payment_method" style="width:100%"></td>
                </tr>
                <tr>
                    <td>Location:</td>
                    <td><input type="text" maxlength="255" name="item_location" style="width:100%" required></td>
                </tr>
            </tbody>
        </table>
        <input type="submit" value="Submit">
    </form>
        <button id="predictPrice">Predict Price</button>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <div id="div1"></div>
        <script type="text/javascript">
                $("#predictPrice").click(function(){
                    var currentCategory = parseInt($('#item_category option:selected').val());
                    var currentCondition = parseInt($('#item_condition option:selected').val());
                    var currentMonths = parseInt($('#item_months option:selected').val());
                    var currentOriPrice = parseInt($('#originalPrice').val());
                    console.log("Current category: "+currentCategory);
                    console.log("Current condition: "+currentCondition);
                    console.log("Current months: "+currentMonths);
                    console.log("Current original price: "+currentOriPrice);
                    var categoryJson = {
                        category: currentCategory,
                        condition: currentCondition,
                        months: currentMonths,
                        originalPrice: currentOriPrice
                    };
                    $.ajax({
                        type:  'POST',
                        contentType: 'application/json',
                        dataType: 'json',
                        data: JSON.stringify(categoryJson),
                        url: "@routes.Application.predictPrice()",
                        success: function(json){
                            console.log(json);
                            var parsedString = JSON.stringify(json);
                            var parts = parsedString.split(':');
                            required = parts[1].split('\"');
                            $("#price").val(required[1]);
                        },
                        error: function (result) {
                            console.log("error");
                        },
                    })});
        </script>
    </body>
    </html>