@()

<!DOCTYPE html>

<html>
    <head>
        <title>Lion Mart</title>
    </head>
    <h1 style="text-align:center">Post Item</h1>
    <form method="POST" action="@routes.Application.processItemForm()" style="text-align: center">
        <table align="center" style="width:40%">
            <tbody>
                <tr>
                    <td colspan="2"><input type="file" name="item_picture" accept="image/*"></td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td><textarea name="item_description" style="width:100%" rows="4"></textarea></td>
                </tr>
                <tr>
                    <td>Condition:</td>
                    <td>
                        <select name="item_condition" style="width:100%">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Months used:</td>
                    <td>
                        <select name="item_months" style="width:100%">
                            <option value="1">Less than 3 months old</option>
                            <option value="2">3-6 months old</option>
                            <option value="3">6 months - 3 years</option>
                            <option value="4"> >3 years</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td><input type="text" name="price" style="width:20%;float:left">
                        <div style="float:left">$</div></td>
                </tr>
                <tr>
                    <td>Original Price:</td>
                    <td><input type="text" name="original_price" style="width:20%;float:left">
                        <div style="float:left">$</div></td>
                </tr>
                <tr>
                    <td>Category:</td>
                    <td>
                        <select name="item_category" style="width:100%">
                            <option value="1">Furniture</option>
                            <option value="2">Tickets</option>
                            <option value="3">Books</option>
                            <option value="4"> >Electronics</option>
                        </select>
                    </td>
                    @*<input type="text" name="item_category" style="width:100%"></td>*@
                </tr>
                <tr>
                    <td>Online Link:</td>
                    <td><input type="text" name="item_link" style="width:100%"></td>
                </tr>
                <tr>
                    <td>Location:</td>
                    <td><input type="text" name="item_location" style="width:100%"></td>
                </tr>
            </tbody>
        </table>
        <input type="submit" value="Submit">
    </form>
    </html>