@(userProductList: List[models.Product])
<!DOCTYPE html>

<html>
    <head>
        <title>Lion Mart</title>
        <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/style.css")' />
    </head>
    <body>
        <script>
                var FB;
                window.fbAsyncInit = function() {
                    FB.init({
                        appId      : '153128161818624',
                        xfbml      : true,
                        version    : 'v2.6'
                    });
                    FB.Event.subscribe('auth.login', function()
                    {
                        window.location.reload();
                    });
                    FB.getLoginStatus(function(response) {
                        if (response.status === 'connected') {
//                            var uid = response.authResponse.userID;
//                            var accessToken = response.authResponse.accessToken;
//                            console.log(uid);
//                            getUserData();
                        } else if (response.status === 'not_authorized') {
                            console.log("not authorized");
                            gotoHome();
                        } else {
                            console.log("not logged in");
                            gotoHome();
                        }
                    });
                    function getUserData(){

                        FB.api('/me', {fields: 'name,email'},function (response) {
                            var fbID = response.id;
                            var fbName = response.name;
                            var fbEmail = response.email;
                            var baseURL = window.location.href;
                            var parts = baseURL.split('/');
                            console.log(parts[0]);
                            console.log(parts[0]+"/addUser?fbID="+fbID+"&fbName="+fbName+"&fbEmail="+fbEmail);
                            window.location.replace(parts[0]+"/addUser?fbID="+fbID+"&fbName="+fbName+"&fbEmail="+fbEmail);
                        });
                    }
                    function gotoHome(){
                        var currentURL = window.location.href;
                        var parts = currentURL.split('/');
                        baseURL = parts[0] + "/";
                        window.location.replace(baseURL);
                    }
                };
                (function(d, s, id){
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {return;}
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
        </script>


        <div id="fb-root"></div>



        <h1 class="centerBoldText">Welcome to LionMart</h1>
        <strong>FURNITURE | TICKETS | BOOKS | ELECTRONICS</strong>
        <br><br>
        <div style="text-align:center">
            <h1>Name</h1>
            <br><br>
            Email: somethinggmail.com
            <br><br>
            <a href="/viewItem"><h2>View Item</h2></a>
        </div>
        <div style="border: 1px solid black">
            <table align="center" style="width:40%">
                <tbody>
                @if(!userProductList.isEmpty){
                    @for(product <- userProductList){
                        <div>
                            <tr>
                                <td class="image" rowspan="5">
                                    <a href="/viewItem">
                                        @*to-do: use the actual image here*@
                                    <img src='@routes.Assets.at("images/chair.jpg")' alt="chair">
                                    </a>
                                </td>
                                <td style="font-weight:bold;font-size:20px">@product.getDescription()</td>
                            </tr>
                            <tr>
                                <td><b>Pick up from: </b> @product.getLocation()</td>
                            </tr>
                            <tr>
                                <td><b>Used for: </b> @product.mapMonthsToString()</td>
                            </tr>
                            <tr>
                                <td><b>Condition rating: </b> @product.getCondition()</td>
                            </tr>
                            <tr>
                                <td><b>Price: </b>@product.getPrice()</td>
                            </tr>
                        </div>
                        <tr>
                            <td>
                                <form method="POST" action="@routes.Application.contactSeller()">
                                    <button>Contact Seller</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>

        <footer class="centerBoldText" style="font-size:20px">
            <p>LionMart</p>
        </footer>
    </body>
</html>
