@()

@main("LionMart") {
    <h1 style="text-align:center">Item Name</h1>
    <table align="center" style="width:40%;text-align: center">
            <tbody>
                <tr>
                    <td>Description:</td>
                    <td>Description</td>
                </tr>
                <tr>
                    <td>Condition:</td>
                    <td>
                        condition
                    </td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td>Price
                </tr>
                <tr>
                    <td>Category:</td>
                    <td>Category</td>
                </tr>
                <tr>
                    <td>Online Link:</td>
                    <td>link</td>
                </tr>
            </tbody>
        </table>
    <a href="/editItem"><h2 style="text-align: center">Edit Item</h2></a>
}